body{
    background: #FFFFff;
}

.navbar-collapse{
    display: flex;
    justify-content: space-between;
}

nav{
    margin-bottom: 25px;
}
.card{
    margin-bottom: 25px;
}
.card-img{
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-author, .card-img, .card-date, .card-desc{
    margin-bottom: 11px;
}
.card-img_max{
    height: 690px;
}
.card-btn{
    display: flex;
}
.btn{
    margin-right: 10px;
}
.btn_all{
    margin-top: 10px;
}
.search_1{
    width: 250px;
}
.nav-header{
    font-size: 18px;
}
